# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [6]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

In [30]:
import numpy as np
import pandas as pd
labels=np_olympic_country
data={'Gold':np_olympic_country_Gold,'Silver':np_olympic_country_Silver,'Bronze':np_olympic_country_Bronze}
df=pd.DataFrame(index=labels,data=data)
df

       Gold  Silver  Bronze
GBR      29      17      19
China    38      28      22
RUS      24      25      32
US       46      28      29
KOR      13       8       7
JPN       7      14      17
GER      11      11      14

## 2.	Find country with maximum gold

In [48]:
print(df['Gold'].max(),'is the maximum amount of gold medals')
print('------------------------------------------------------')
print(df['Gold']==46)
print('------------------------------------------------------')
df[df['Gold']==46]

46 is the maximum amount of gold medals
------------------------------------------------------
GBR      False
China    False
RUS      False
US        True
KOR      False
JPN      False
GER      False
Name: Gold, dtype: bool
------------------------------------------------------

    Gold  Silver  Bronze
US    46      28      29

## 3.	Find countries with more than 20 gold medals

In [57]:
print(df['Gold']>20)
print('------------------------------------------------------')
df[df['Gold']>20]

GBR       True
China     True
RUS       True
US        True
KOR      False
JPN      False
GER      False
Name: Gold, dtype: bool
------------------------------------------------------

       Gold  Silver  Bronze
GBR      29      17      19
China    38      28      22
RUS      24      25      32
US       46      28      29